<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='subpage.css') }}">
    <title>whereissafe</title>
</head>
<body>
<a href="{{ url_for('home') }}"><img alt="Picture of shark running with the words shark attack run. Link to home page"
                                     id="logo" src="{{ url_for('static', filename='Logo.png') }}"></a>
<h1>Where is safe?</h1>
<div id="side-container">
    <nav>
        <ul>
            <li><a href="{{ url_for('attackofday') }}">Shark Attack of the Day</a></li>
            <li><a href="{{ url_for('data') }}">About Our Data</a></li>
            <li><a href="{{ url_for('attackulator') }}">Shark Attackulator</a></li>
            <li><a href="{{ url_for('whereissafe') }}">Where is safe? (or not?)</a></li>
        </ul>
    </nav>
    <form method="post" action="{{ url_for('results') }}" onsubmit="return confirmValidForm()" autocomplete="off">
        <h2>Search</h2>
        <input type="checkbox" name="dateFilter" id="dateFilter" onchange="filteredByDate()">
        <label for="dateFilter">Filter By Date</label>
        <br class="visibleIfDateFilter">
        <label for="startDate" class="visibleIfDateFilter">Start Date: </label>
        <input type="date" name="startDate" id="startDate" class="visibleIfDateFilter" max="2023-01-08">
        <br class="visibleIfDateFilter">
        <label for="endDate" class="visibleIfDateFilter">End Date: </label>
        <input type="date" name="endDate" id="endDate" class="visibleIfDateFilter" max="2023-01-08">
        <br>
        <br>
        <label class="select-label">Filter by Country:<select id="country" name="country">
            <option value={{ NONE }}>All Countries</option>
            {% for countryName in countryList %}
                <option value= {{ countryName[0] }}>{{ countryName[1] }}</option>
            {% endfor %}
        </select></label>
        <label class="select-label">Filter by Species:<select id="species" name="species">
            <option value={{ NONE }}>All Species</option>
            {% for specie in speciesList %}
                <option value= {{ specie[0] }}>{{ specie[1] }}</option>
            {% endfor %}
        </select></label>
        <label class="select-label">Filter by Activity:<select id="activity" name="activity">
            <option value={{ NONE }}>All Activities</option>
            {% for activity in activityList %}
                <option value= {{ activity[0] }}>{{ activity[1] }}</option>
            {% endfor %}
        </select></label>
        <br>
        <label><input type="submit" name="submit" value="Search"></label>
    </form>
</div>
<div id="form-container">
    <form action="{{ url_for('whereResults_safestbeach') }}" method="post">
        <label>
            Find the safest beach by country:
            <br>
            <select name="safest" size="1">
                {% for countryName in countryList %}
                    <option value={{ countryName[0] }}>{{ countryName[1] }}</option>
                {% endfor %}
            </select>
        </label>
        <br><br>
        <input type="submit" name="submit" value="Calculate">
    </form>
    <form action="{{ url_for('whereResults_danger') }}" method="post">
        <label>
            Find the most dangerous area in a country:
            <br>
            <select name="Dangerous" size="1">
                {% for countryName in countryList %}
                    <option value={{ countryName[0] }}>{{ countryName[1] }}</option>
                {% endfor %}
            </select>
        </label>
        <br><br>
        <input type="submit" name="submit" value="Calculate">
    </form>
    <form action="{{ url_for('whereResults_SafeArea') }}" method="post">
        <label>
            Find the safest area in a country:
            <br>
            <select name="SafestArea" size="1">
                {% for countryName in countryList %}
                    <option value={{ countryName[0] }}>{{ countryName[1] }}</option>
                {% endfor %}
            </select>
        </label>
        <br><br>
        <input type="submit" name="submit" value="Calculate">
    </form>
    <form action="{{ url_for('whereResults_coordinates') }}" method="post">
        <label>
            Find the safest beach by coordinates:
            <br>
            <input type="number" name="Latitude" step="any" placeholder="Enter Latitude" required>
            <input type="number" name="Longitude" step="any" placeholder="Enter Longitude" required>
        </label>
        <br><br>
        <input type="submit" name="submit" value="Calculate">
    </form>
</div>
<div id="where-result">
    {% if area|length == 0 %}
        <h2>No results found in {{ countrySelected }}.</h2>
    {% else %}
        <h2>The safest area(s) in {{ countrySelected }}:</h2>
        <ul>
            {% for place in area %}
                <li>{{ place }} </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
<script src="{{ url_for('static', filename='default.js') }}"></script>
</body>

</html>